<br>
<div class="d-flex justify-content-center">
  <!--  -->




  <div class=" ">
    <nav class="" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>

    <div class="row  mt-5">
      <img src="http://192.168.0.100:3000/uploads/50f634b614a82.jpg" alt="Rounded Image" width="800" height="320" class="rounded  img-responsive">
      <div class="ml-3">
        <img src="http://192.168.0.100:3000/uploads/4fb621f20bcc3.jpg" alt="Rounded Image" width="300" height="320" class="rounded  img-responsive">
      </div>
    </div>
  </div>

</div>
<br>
<!--  -->
<div class=" d-flex justify-content-center">
  <div class="container">
    <p class="h1">Mac Books</p>
    <div class="row">

      <div class=" d-flex fixedsizediv justify-content-center bg-white mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2 mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


    </div>
  </div>
</div>
<!--  -->
<br><br>

<!--  -->
<div class=" d-flex justify-content-center">
  <div class="container">
    <p class="h1">Desktops</p>
    <div class="row">

      <div class=" d-flex fixedsizediv justify-content-center bg-white mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2 mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


    </div>
  </div>
</div>
<!--  -->
<br><br>

<!--  -->
<div class=" d-flex justify-content-center">
  <div class="container">
    <p class="h1">lenovo</p>
    <div class="row">

      <div class=" d-flex fixedsizediv justify-content-center bg-white mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2 mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


    </div>
  </div>
</div>
<!--  -->
<br><br>

<!--  -->
<div class=" d-flex justify-content-center">
  <div class="container">
    <p class="h1">Laptops</p>
    <div class="row">

      <div class=" d-flex fixedsizediv justify-content-center bg-white mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class=" d-flex fixedsizediv justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2 mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>



      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>

      <div class="fixedsizediv  d-flex justify-content-center bg-white mt-2  mr-3 p-3 ">
        <div class="">
          <div class="text-center">
            <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">
          </div>
          <p class="h6 text-center"> Generic software software software</p><br>
          <p class="lead text-center">1000 upwardss </p>
        </div>
      </div>


    </div>
  </div>
</div>
<!--  -->
<br><br>
<div class="container">
  <div class="bg-white py-4 px-2">

    <p class="ml-4 h1">Why Choose Us </p>
    <div class="py-1  lead font-italic">
      <p class="ml-4 h6 d-inline ">></p>
      <p class=" ml-3 h6 d-inline">Trained and qualified engineers</p>
    </div>
    <div class="py-1 lead font-italic">
      <p class="ml-4 h6 d-inline">></p>
      <p class=" ml-3 h6 d-inline">Quality spares</p>
    </div>
    <div class="py-1 lead font-italic ">
      <p class="ml-4 h6 d-inline">></p>
      <p class=" ml-3 h6 d-inline">Guaranted quality of service</p>
    </div>
    <div class="py-1 lead font-italic">
      <p class="ml-4 h6 d-inline">></p>
      <p class=" ml-3 h6 d-inline">Great price</p>
    </div>



  </div>
</div>
<br><br>

<!--  -->
<div class="container">
  <div class="px-3 py-3 bg-white" style="width:1100px">
    <p class=" h3">Computer Repair Service Providers Near you </p>
    <p class="text-left lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="justify-content-center  col-10 ">
      <div class="border shadow my-3 row" style="width:950px;height:500">
        <div class="col-3 text-center">
          <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">

        </div>
        <div class="col-9">
          <p class="text-left h3">Olumide Taiwo </p>
          <p class=" text-left lead">HJ Expert in Computer Repairs </p>
          <p class=" text-left lead">NIGERIA </p>
          <div class="d-flex justify-content-between">
            <p class="text-left  h3">What Our Customers Say </p>
            <p class=" text-right  lead">20yrs Experience </p>

          </div>

          <button type="button" class="btn btn-outline-primary d-inline mx-2 ">Punctual</button>
          <button type="button" class="btn btn-outline-primary d-inline mx-2">Professional</button>
          <button type="button" class="btn btn-outline-primary d-inline mx-2">Hard working</button>
          <br><br>
        </div>
      </div>
      <div class="border shadow my-3 " style="width:950px;height:500">
        <div class="col-3 text-center">
          <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="150" height="130" class="rounded-circle p-1 img-responsive">

        </div>
        <div class="col-9">
          <p class="text-left h3">Olumide Taiwo </p>
          <p class=" text-left lead">HJ Expert in Computer Repairs </p>
          <p class=" text-left lead">NIGERIA </p>
          <div class="d-flex justify-content-between">
            <p class="text-left  h3">What Our Customers Say </p>
            <p class=" text-right  lead">20yrs Experience </p>

          </div>

          <button type="button" class="btn btn-outline-primary d-inline mx-2 ">Punctual</button>
          <button type="button" class="btn btn-outline-primary d-inline mx-2">Professional</button>
          <button type="button" class="btn btn-outline-primary d-inline mx-2">Hard working</button>
          <br><br>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


</div>
<br><br>
<!--  -->
<div class="container">
  <div class="px-3 py-3 bg-white" style="width:1100px">
    <p class=" h3">Experts Computer Repairers made assecible via olu and tobi </p>
    <p class=" lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class=" lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class=" lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<br><br>
<!--  -->
<div class=" container bg-white" style="height:350px">
  <div class="d-flex align-items-center row">

    <div class="col-3  d-flex justify-content-center">
      <div class="">
        <div class="text-center">
          <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="120" height="120" class="rounded  img-responsive">
        </div>
        <p class="text-center">lorem Excepteur</p>
        <p class="text-center lead"> Excepteur sint occaecat Excepteur Excepteur sint occaecat Excepteur sint occaecat Excepteur sint occaecat.</p>
      </div>
  </div>

  <div class="col-3 my-2 py-5  d-flex justify-content-center">
    <div class="">
      <div class="text-center">
        <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="120" height="120" class="rounded  img-responsive">
      </div>
      <p class="text-center h-6">lorem Excepteur</p>
      <p class="text-center lead"> Excepteur sint occaecat Excepteur sint occaecat Excepteur sint occaecat.</p>
    </div>
</div>

<div class="col-3  d-flex justify-content-center">
  <div class="">
    <div class="text-center ">
      <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="120" height="120" class="rounded  img-responsive">
    </div>
    <p class="text-center  h6">lorem Excepteur</p>
    <p class="text-center lead"> Excepteur sint occaecat Excepteur sint occaecat Excepteur sint occaecat.</p>
  </div>
</div>

<div class="col-3  d-flex justify-content-center">
  <div class="">
    <div class="text-center">
      <img src="http://192.168.0.100:3000/uploads/avatar.jpg" alt="Rounded Image" width="120" height="120" class="rounded  img-responsive">
    </div>
    <p class="text-center h6">lorem Excepteur</p>
    <p class="text-center lead"> Excepteur sint occaecat Excepteur sint occaecat Excepteur sint occaecat.</p>
  </div>
</div>

</div>
</div>
<br><br><br>
