<div class="container">
  <div class="row">
    <div class="col-8">
      <!--  -->
      <div class=" bg-white">

      <br><br>
      <div class="ml-3">
        <nav class=" " aria-label="breadcrumb" role="navigation" style="  background-color: white;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        <p class="h1">Kitchen Deep Cleaning</p>
        <p class="lead"> <small>Get Profeesional services for your house</small> </p>
        <hr>
        <p class="h6">Inclusions and exclusions</p>
<p>main focus -stain removal,sanitize ,disinfect house wkth</p>

<p>main focus -stain removal,sanitize ,disinfect house wkth</p>

<p class="h6">procedure</p>
<p>main focus -stain removal,sanitize ,disinfect house wkth</p>

<p>main focus -stain removal,sanitize ,disinfect house wkth</p>
        <br>

      </div>
      <!--  -->
      </div>
      <div class="col-4">

      </div>
      <br><br>
    </div>
  </div>
