<br>
<div class="container">
  <div class="row">

    <div class="p-2" *ngFor="let info of friends">
      <form (submit)="onaddfriend(info.username)">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="http://192.168.0.100:3000/uploads/517e04b27c905.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{info.friend_name}}</h4>
            <h4 class="card-title">{{info.friend_username}}</h4>
            <h4 class="card-title">{{info.friend_email}}</h4>
          <input class="btn btn-lg btn-primary" type="submit" value="addfriend">
          <br>
          <div class="p-3">
             <!-- <h4 class="card-title"><a href="http://192.168.0.100:4200/single/{{productinfo._id}}">{{productinfo.p_name}}</a></h4> -->
             <h4 class="card-title"><a class="btn btn-lg btn-primary" href="http://192.168.0.100:4200/chat/{{info.friend_username}}">Chat</a></h4>

          </div>

          </div>
        </div>
        </form>
    </div>

  </div>
</div>
