<br>
<div class="container">
  <div class="row">

    <div class="p-2" *ngFor="let info of users">
      <form (submit)="onaddfriend(info.username)">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="http://192.168.0.100:3000/uploads/517e04b27c905.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{info.name}}</h4>
            <h4 class="card-title">{{info.username}}</h4>
            <h4 class="card-title">{{info.email}}</h4>
          <input class="btn btn-lg btn-primary" type="submit" value="addfriend">
          </div>
        </div>
        </form>
    </div>

  </div>
</div>
