<br>
<div class="container">
  <div class="row">

    <div class="p-2" *ngFor="let info of users">
      <form (submit)="onaddfriend(info.username)">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="https://www.google.com/search?q=profile+images&rlz=1C5CHFA_enNG830NG830&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjF7e_F2YvgAhX7VBUIHc_mAf0Q_AUIDigB&biw=1280&bih=690#" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{info.name}}</h4>
            <h4 class="card-title">{{info.username}}</h4>
            <h4 class="card-title">{{info.email}}</h4>
          <input class="btn btn-lg btn-primary" type="submit" value="addfriend">
          </div>
        </div>
        </form>
    </div>

  </div>
</div>
